body {
}

#chart {
  position: absolute;
  left: 320px;
  right: 20px;
  top: 30px;
  height: 400px;
}

#config {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 300px;
}

.dygraph-axis-label {
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.dygraph-legend {
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
