.html-panel, .css-panel, .js-panel {
  font-family: monospace;
  white-space: pre;
}

.monaco-editor {
  height: 200px;
}

.left-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 5px;
}

.output-panel {
  position: absolute;
  left: 50%;
  top: 0;
  right: 0;
  height: 100%;
  padding: 5px;
}
