/* Prevent over-scrolling on OS X */
html {
  overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
  overflow: auto;
  margin: 0;
}

.error {
  z-index: 1;
  position: absolute;
  background: red;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  padding: 5px;
}

.editor, .panel {
  position: relative;
  height: 100%;
  width: 100%;
}
.monaco-editor-holder {
  height: 100%;
  width: 100%;
}

.table-panel {
  position: absolute;
  overflow: hidden;

  font-family: arial, sans-serif;
  font-size: small;
  padding: 5px;
}

.editors-panel {
  position: absolute;
  padding: 5px;
}

.output-panel {
  position: absolute;
  padding: 5px;
  overflow: auto;
}

.tabs, .tab {
  height: 100%;
}

.output-panel {
  left: 50%;
  top: 64px;
  right: 0;
  bottom: 50%;
}

.layout-default .table-panel,
.layout-data-primary .editors-panel {
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0;
}

.layout-default .editors-panel,
.layout-data-primary .table-panel {
  left: 0;
  top: 64px;
  bottom: 0;
  right: 50%;
}
