/* Prevent over-scrolling on OS X */
html {
  overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
  overflow: auto;
}

.editor, .panel {
  position: relative;
  height: 100%;
  width: 100%;
}
.monaco-editor-holder {
  height: 100%;
  width: 100%;
}

.table-panel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  padding: 5px;
  overflow: hidden;

  font-family: arial, sans-serif;
  font-size: small;
}

.editors {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0;
  padding: 5px;
}

.output-panel {
  position: absolute;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 50%;
  padding: 5px;
  overflow: auto;
}

.tab-chooser > * {
  margin: auto 5px;
}
